$footer-background-color: #fff;
$footer-padding: 1rem;

@import "bulma/bulma";
@import "form";

::v-deep {
  .animation {
    height: auto;
    width: 100%;
  }
}

p {
  margin-bottom: 1em;
}

header {
  margin-bottom: 2em;
}
