@mixin background-animation {
  from {
    transform: translateX(100%);
  }

  to {
    transform: translateX(-100%);
  }
}

#building,
#tree,
#plant,
#cloud--large,
#cloud--small {
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

#building {
  animation-duration: $walking-animation-speed * 80; // 60s

  @keyframes background-building {
    @include background-animation;
  }

  .animate-background--building & {
    animation-name: background-building;
  }
}

#tree {
  animation-duration: $walking-animation-speed * 20; // 15s

  @keyframes background-tree {
    @include background-animation;
  }

  .animate-background--tree & {
    animation-name: background-tree;
  }
}

#plant {
  animation-duration: $walking-animation-speed * 13.333333; // 10s

  @keyframes background-plant {
    @include background-animation;
  }

  .animate-background--plant & {
    animation-name: background-plant;
  }
}

#cloud {
  .animate-background--clouds &--large,
  .animate-background--clouds &--small {
    animation-name: background-clouds;
  }

  @keyframes background-clouds {
    @include background-animation;
  }

  &--large {
    animation-duration: $walking-animation-speed * 160; // 120s
  }

  &--small {
    animation-duration: $walking-animation-speed * 120; // 90s
  }
}
