#dog {
  $tail-animation-speed: 0.5s;
  $ear-animation-speed: 1s;

  &:hover {
    cursor: pointer;

    #dog__tail {
      animation-duration: 0.1s;
    }

    #dog__tongue {
      opacity: 1;
      scale: 1;
    }
  }

  &__lead,
  &__ear-right,
  &__ear--left,
  &__front-leg--left,
  &__back-leg--left,
  &__front-leg--right,
  &__back-leg--right,
  &__tail {
    transform-box: fill-box;
  }

  &__tail,
  &__lead {
    transform-origin: bottom right;
  }

  &__lead {
    animation: dog-lead $walking-animation-speed linear infinite alternate;

    @keyframes dog-lead {
      from {
        scale: 1;
      }

      to {
        scale: 1.75 0.75;
        transform: translateY(-20px);
      }
    }
  }

  &__ear-right,
  &__ear--left {
    animation-direction: alternate;
    animation-duration: $ear-animation-speed;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    transform-origin: center;

    .animate-dog--ears & {
      animation-name: dog-ear;
    }

    @keyframes dog-ear {
      from {
        transform: rotateZ(0deg);
      }

      to {
        transform: rotateZ(30deg);
      }
    }
  }

  &__ear--left {
    animation-direction: alternate-reverse;
  }

  &__front-leg--left,
  &__back-leg--left {
    animation-direction: alternate;

    animation-duration: $dog-walking-animation-speed;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    transform-origin: top;

    .animate-dog--legs & {
      animation-name: dog-leg-left;
    }

    @keyframes dog-leg-left {
      from {
        transform: rotateZ(20deg);
      }

      to {
        transform: rotateZ(60deg) translateY(60%);
      }
    }
  }

  &__back-leg--left {
    animation-direction: alternate-reverse;
  }

  &__front-leg--right {
    transform-origin: 30px 45px;

    .animate-dog--legs & {
      animation: dog-leg-right-front $dog-walking-animation-speed linear
        infinite alternate-reverse;
    }

    @keyframes dog-leg-right-front {
      from {
        transform: rotateZ(-20deg);
      }

      to {
        transform: rotateZ(20deg) translateX(-5px);
      }
    }
  }

  &__back-leg--right {
    transform-origin: 30px 40px;

    .animate-dog--legs & {
      animation: dog-leg-right-back $dog-walking-animation-speed linear infinite
        alternate;
    }

    @keyframes dog-leg-right-back {
      from {
        transform: rotateZ(-20deg) translateX(10px);
      }

      to {
        transform: rotateZ(20deg);
      }
    }
  }

  &__tail {
    .animate-dog--tail & {
      animation: dog-tail $tail-animation-speed infinite alternate;
    }

    @keyframes dog-tail {
      from {
        transform: rotateZ(-10deg);
      }

      to {
        transform: rotateZ(10deg);
      }
    }
  }
}
