#man {
  transform-origin: bottom center;

  &__upper-body,
  &__arm--right,
  &__arm--left,
  &__foot--left,
  &__foot--right,
  &__leg-upper--left,
  &__leg-lower--left,
  &__leg-upper--right,
  &__leg-lower--right {
    transform-box: fill-box;
  }

  &__upper-body {
    .animate-man--body & {
      animation: man-body #{$walking-animation-speed / 2} linear infinite alternate;
    }

    @keyframes man-body {
      from {
        transform: translateY(20px);
      }

      to {
        transform: translateY(0);
      }
    }
  }

  &__arm {
    &--right,
    &--left {
      animation-direction: alternate;
      animation-duration: $walking-animation-speed;
      animation-iteration-count: infinite;
      animation-timing-function: linear;
      transform-origin: 30px 30px;

      .animate-man--arms & {
        animation-name: man-arm;
      }
    }

    &--left {
      animation-direction: alternate-reverse;
    }

    @keyframes man-arm {
      from {
        transform: rotateZ(22deg);
      }

      to {
        transform: rotateZ(-22deg);
      }
    }
  }

  &__foot--right {
    transform-origin: top left;

    .animate-man--legs & {
      animation: man-foot-right $walking-animation-speed linear infinite
        alternate;
    }

    @keyframes man-foot-right {
      from {
        transform: rotateZ(-10deg);
      }

      to {
        transform: rotateZ(30deg) translate(10px, -35px);
      }
    }
  }

  &__foot--left {
    transform-origin: 0 20px;

    // FIXME: this breaks the lower leg transform-origin
    // animation: man-foot-left 1.5s linear infinite alternate;

    @keyframes man-foot-left {
      from {
        transform: rotateZ(30deg);
      }

      to {
        transform: rotateZ(-20deg) translate(-10px, 0);
      }
    }
  }

  &__leg {
    $leg-timing: linear;

    &-upper--left,
    &-lower--left,
    &-upper--right,
    &-lower--right {
      transform-origin: top;
    }

    // Right leg
    &-upper--right {
      transform-origin: 50px 20px;

      .animate-man--legs & {
        animation: man-leg-upper-right $walking-animation-speed $leg-timing
          infinite alternate;
      }

      @keyframes man-leg-upper-right {
        from {
          transform: rotateZ(-10deg);
        }

        to {
          transform: rotateZ(20deg);
        }
      }
    }

    &-lower--right {
      transform-origin: 80% 40px;

      .animate-man--legs & {
        animation: man-leg-lower-right $walking-animation-speed $leg-timing
          infinite alternate;
      }

      @keyframes man-leg-lower-right {
        from {
          transform: rotateZ(-70deg) translate(35px, 40px);
        }

        to {
          transform: rotateZ(-15deg) translate(-20px, 0px);
        }
      }
    }

    // Left Leg
    &-upper--left {
      transform-origin: 25px 20px;

      .animate-man--legs & {
        animation: man-leg-upper-left $walking-animation-speed $leg-timing
          infinite alternate;
      }

      @keyframes man-leg-upper-left {
        from {
          transform: rotateZ(20deg);
        }

        to {
          transform: rotateZ(-10deg);
        }
      }
    }

    &-lower--left {
      transform-origin: 33px 10px;

      .animate-man--legs & {
        animation: man-leg-lower-left $walking-animation-speed $leg-timing
          infinite alternate;
      }

      @keyframes man-leg-lower-left {
        from {
          transform: rotateZ(40deg) translateX(-13px);
        }

        to {
          transform: rotateZ(-20deg) translateX(10px);
        }
      }
    }
  }
}
